﻿@model ThatForumCMS.Models.Category.DeleteCategoryViewModel

@{
    ViewBag.Title = "Delete category";
}

<h2>Delete category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })*@
                @Model.Name
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChildCategoriesNum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.LabelFor(model => model.ChildCategoriesNum, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.Label(Model.ChildCategoriesNum.ToString())
            </div>
        </div>
        @if (Model.ChildCategoriesNum > 0) {
            <div class="form-group">
                @Html.LabelFor(model => model.DeleteAllChildCategories, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.DeleteAllChildCategories)
                        @Html.ValidationMessageFor(model => model.DeleteAllChildCategories, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
        

        <div class="form-group">
            @Html.LabelFor(model => model.DeleteAllCategoryTopics, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.DeleteAllCategoryTopics)
                    @Html.ValidationMessageFor(model => model.DeleteAllCategoryTopics, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
