﻿@model ThatForumCMS.Models.Category.CreateCategoryViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit category</h2>

<div id="savingresult"></div>
@*@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @id = "categoryCreateForm" }))*@
@using (Ajax.BeginForm("EditAjax", "Category", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "savingresult",
    LoadingElementId = "loader"
},new { @id = "categoryCreateForm" })) {
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.ExistingCategories != null) {
            <div class="form-group">
                @Html.LabelFor(model => model.ParentCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ParentCategoryId", Model.ExistingCategories, "Parent Category(if needed)", new { @class = "form-control" })
                </div>
            </div>
        }
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div id="loader" class=" aletr" style="display:none">
        Loading...<img src="~/Content/Default/ajax-loader.gif" />
    </div>
}

@Scripts.Render("~/bundles/jqueryvalidation")
@Scripts.Render("~/bundles/validationCategoryName")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
