﻿@model IEnumerable<ThatForumCMS.Models.Category.CategoryListItemViewModel>

@{
    ViewBag.Title = "Manage categories";
}

<h2>Manage categories</h2>

<p>
    @Html.ActionLink("Create New", "Create","Category", new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        if (item.ParentCategoryId == null) {
            <tr>
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => item.Name)
                    </strong>
                </td>
                <td>
                    @Html.Partial("CategoryControlBtns", item.Id)
                </td>
            </tr>

            foreach (var categ in Model) {// table-striped table-hoverdisplay subcategories

                if (categ.ParentCategoryId == item.Id) {
                    <tr>
                        <td>
                            <div>-- @Html.DisplayFor(modelItem => categ.Name)</div>
                        </td>
                        <td>
                            @Html.Partial("CategoryControlBtns", categ.Id)
                        </td>
                    </tr>
                }

            }

        }
    }

</table>

