﻿@model ThatForumCMS.Models.CategoryIndexViewModel


@if (Model == null) {
    return;
}
<hr/>
@Html.ActionLink("Create topic", "Create", "Topic", null, new { @class = "btn btn-primary" })
<hr />

  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Html.ActionLink(Model.Name, "View", "Category", new { id = Model.Id }, null)
        </h3>
    </div>

    <!-- Show subcategories and their topics first-->
    @foreach (var subCategoryIndex in Model.ChildCategories) {
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @Html.ActionLink(subCategoryIndex.Name, "View", "Category", new { id = subCategoryIndex.Id }, null)
                </h3>
            </div>
            @Html.ShowCategoriesTopicsIndex(subCategoryIndex.Topics)

        </div>
        <!-- subcategory' topics-->

    }

    @Html.ShowCategoriesTopicsIndex(Model.Topics)
    <!-- Parent category topics -->
</div>