﻿@model ThatForumCMS.Models.TopicViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


@if (TempData["Error"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> @TempData["Error"]
    </div>
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Warning!</h4>
        <p>You're about to delete the topic. This also will erase all this topic's posts.</p>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TopicMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TopicMessage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "List")
        </div>
    }
</div>
