﻿@model ThatForumCMS.Models.Topic.TopicListViewModel

@{
    ViewBag.Title = "List";
}

@if (TempData["Success"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["Success"]
    </div>
}

@if (TempData["Result"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["Result"]
    </div>
}


@foreach (var item in Model.Topics) {
    <blockquote>
        <p>@Html.DisplayFor(modelItem => item.TopicMessage)</p>
        <small>
            <a href="/Profile?user=@item.Author">@Html.DisplayFor(modelItem => item.Author)</a>
        </small>
    </blockquote>
    <p>
        @if (Model.CanUserEditTopic) {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
        }
        @if (Model.CanUserReportTopic) {
            @Html.Raw(" | ")
            @Html.ActionLink("Report", "Report", new { id = item.Id })
        }
        @if (Model.CanUserDeleteTopic) {
            @Html.Raw(" | ")
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        }

    </p>
    <hr />

}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>  

