﻿@model ThatForumCMS.Models.Topic.TopicPageViewModel

@{
    ViewBag.Title = "View";
}
@if (Model == null) {
    <div>
        Something went wrong #0001
    </div>
    return;
}
<h2>View Topic - @Html.DisplayFor(m=> m.Title)</h2>
<h4>
    Created: @Html.DisplayFor(m=> m.CreationDate) |
    View: @Html.DisplayFor(m=>m.ViewsCount) |
</h4>


@if (Model.Posts != null) {
    foreach (var item in Model.Posts) {
        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><img src="@{
                            if (string.IsNullOrEmpty(item.AvatarUrl)) {
                                @Html.Raw(@"\Content\Default\default_avatar.png");
                            } else {
                                @Html.Raw(item.AvatarUrl);
                            }} " width="100px" height="100px" /></p>
                        <p><a href="/Profile?user=@item.Author">@Html.DisplayFor(modelItem => item.Author)</a></p>
                        <p>Posted: @Html.DisplayFor(modelItem => item.PostTime)</p>
                    </div>
                </div>
                
            </div>
            <div class="col-sm-9">
                <div class="well well-lg">
                    @Html.DisplayFor(modelItem => item.Message)
                </div>
                @item.Signature
            </div>
        </div>
        <br/>
    }
}



<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("View/" + Model.Id, new { page = x }))
</div>

<div>
    @if (Model.IsAuthenticatedUser) {
        using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                <h4>Add comment</h4>
                <hr />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @*@Html.TextAreaFor(m => m.Posts.FirstOrDefault().Message, 4, 60, null)*@
                        <div class="form-group">                            
                            <div class="col-lg-12">
                                @Html.TextArea("message", new {@class = "form-control" })
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add comment" class="btn btn-default" />
                    </div>
                </div>

            </div>
        }
    }
    
            
</div>