﻿@model ThatForumCMS.Models.Post.DeletePostViewModel

@{
    ViewBag.Title = "Delete Post";
}

<h2>DeletePost</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    @Html.ValidationMessage("Error")
   
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

    </dl>
    @if (Model.CanDelete) {

        using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.TopicId)
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    } else {
        <div>
            Can't delete topic's primary post or user with higher role created this post
        </div>
    }

</div>
