﻿@model ThatForumCMS.Models.Post.EditPostViewModel

@{
    ViewBag.Title = "EditPost";
}

<h2>Edit Post</h2>

@if (TempData["Success"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["Success"]
    </div>
}

@using (Html.BeginForm("EditPost", "Admin", FormMethod.Post, new { @id = "editpost"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Post</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model=>model.Message, new { @class = "form-control", @id = "textArea" })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryvalidation")
@Scripts.Render("~/bundles/validationEditPost")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
