﻿@model ThatForumCMS.Models.ErrorLog.ErrorLogList

@{
    ViewBag.Title = "ErrorLogs";
}

<h2>ErrorLogs</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ErrorLogs.FirstOrDefault().Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorLogs.FirstOrDefault().CmsMessage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorLogs.FirstOrDefault().ExceptionMsg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorLogs.FirstOrDefault().ExceptionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorLogs.FirstOrDefault().ExceptionSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorLogs.FirstOrDefault().ExceptionURL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrorLogs.FirstOrDefault().Logdate)
        </th>
    </tr>

@foreach (var item in Model.ErrorLogs) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CmsMessage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExceptionMsg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExceptionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExceptionSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExceptionURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Logdate)
        </td>
    </tr>
}

</table>
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("ErrorLogs", new { page = x }))
</div>