﻿@model ThatForumCMS.Models.Post.ShowPostsViewModel
<h2>Last posts</h2>

@if (TempData["Success"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["Success"]
    </div>
}

@if (TempData["Result"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["Result"]
    </div>
}


@foreach (var item in Model.Posts) {
    <blockquote>
        <p>@Html.DisplayFor(modelItem => item.Message)</p>
        <small>Time: @item.PostTime.ToString("yyyy.MM.dd HH:mm") 
            <cite title="User profile">
                <a href="/Profile?user=@item.Author">@Html.DisplayFor(modelItem => item.Author)</a>
            </cite>
        </small>
    </blockquote>
    <p>
        @if (Model.CanUserEditPost) {
            @Html.ActionLink("Edit", "EditPost", new { id = item.Id })
        }
        @if (Model.CanUserReportPost) {
            @Html.Raw(" | ")
            @Html.ActionLink("Report", "ReportPost", new { id = item.Id })
        }
        @if (Model.CanUserDeletePost) {
            @Html.Raw(" | ")
            @Html.ActionLink("Delete", "DeletePost", new { id = item.Id })
        }
        
    </p>
    <hr/>

}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("ShowPosts", new { page = x }))
</div>  