﻿@model ThatForumCMS.Models.Admin.UserInfoListViewModel

@{
    ViewBag.Title = "Show Users";
}

<h2>Show Users</h2>

@if (TempData["Success"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["Success"]
    </div>
}

<p>
    @Html.ActionLink("Create New", "AddUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @{
                    //var role = item.Role.ToFriendlyString();
                    var role = item.Role;
                }
                @role
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { id = item.Id }) |
                @Html.RouteLink("Details", "UserProf", new { user = item.Login}) |
                @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
            </td>
        </tr>
                    }

</table>
<div>
@Html.PageLinks(Model.PagingInfo, x => Url.Action("ShowUsers", new { page = x }))
</div>