﻿@model ThatForumCMS.Models.IndexPageViewModel

@{
    ViewBag.Title = "Index";
}

@if (Model == null) {
    return;
}
<div class="jumbotron">
    <h1>That Forum CMS</h1>
    <p>@Model.ForumInfo</p>
</div>

@Html.ActionLink("Create topic", "Create", "Topic", null, new { @class = "btn btn-primary" })
<hr />


@foreach (var categoryIndex in Model.CategoryIndexViewModels) {

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                @Html.ActionLink(categoryIndex.Name, "View", "Category", new { id = categoryIndex.Id}, null)
            </h3>
        </div>

        <!-- Show subcategories and their topics first-->
        @foreach (var subCategoryIndex in categoryIndex.ChildCategories) {
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.ActionLink(subCategoryIndex.Name, "View", "Category", new { id = subCategoryIndex.Id }, null)
                    </h3>
                </div>
                @Html.ShowCategoriesTopicsIndex(subCategoryIndex.Topics)

            </div>
        <!-- subcategory' topics-->
       
        }

        @Html.ShowCategoriesTopicsIndex(categoryIndex.Topics)
        <!-- Parent category topics -->
    </div>
}

