﻿@model ThatForumCMS.Models.Users.EditUserProfile



<div class="form-horizontal">
    <h4>Edit Profile</h4>
    <hr />

    @* Change avatar form *@
    <div class="form-group">
        Current avatar:
        <img src="@Model.AvatarUrl" />
        <div class="col-md-10">
            <div class="form-horizontal">
                @Html.ValidationMessageFor(model => model.AvatarUrl, "", new { @class = "text-danger" })
                <h3>Change avatar:</h3>
                @using (Html.BeginForm("ChangeAvatar", "Account", FormMethod.Post, new { enctype = "multipart/form-data" })) {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="file" name="upload" id="upload" class="btn btn-default" /><br>
                        <input type="submit" value="Upload" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>


    <div id="savingresult"></div>
    

    @*@using (Html.BeginForm()) {*@
    @using (Ajax.BeginForm("ChangeUserPublicInfo", "Account", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "savingresult",
        LoadingElementId = "loader"
    }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)



        <div class="form-group">
            @Html.LabelFor(model => model.About, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.About, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Signature, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Signature, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Signature, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RealName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RealName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RealName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    }

    <div id="loader" class=" aletr" style="display:none">
        Loading...<img src="~/Content/Default/ajax-loader.gif" />
    </div>

    <hr/>
    
    @Html.Partial("ChangePasswordPartial", new ThatForumCMS.Models.Users.ChangePasswordViewModel())
    
</div>