﻿@model ThatForumCMS.Models.Users.PublicUserProfileViewModel

@{
    ViewBag.Title = "UserProfile";
}

<h2>User Profile</h2>

<div>
    <h4>Public User Profile page</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt></dt>
        <dd>
            <img src="@Model.AvatarUrl" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RealName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Email)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Email)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountCreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastVisit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastVisit)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ProfileHidden)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ProfileHidden)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>

    </dl>
</div>

<div class="postsSection">
    <h3>Recent Posts</h3>
    <div class="partialContents" data-url="/account/GetLastUsersTopic?id=@Html.Raw(Model.Id)">
        <img src="~/Content/Default/ajax-loader.gif" /> Loading ...
    </div>
</div>

@Scripts.Render("~/bundles/asyncGetRecentPosts")