﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Some interesting title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>  
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <style>
        .modal-header, .close {
            background-color: #d34615;
            color: white !important;
            text-align: center;
            font-size: 30px;
        }

        .modal-footer {
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("That Forum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    
                    @Html.Action("NavBar", "Home")

                    @*if user signed in - show Profile tab*@
                    @if (User.Identity.IsAuthenticated) {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Profile
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Edit", "Edit", "Account")</li>
                                <li>@Html.ActionLink("Show", "Index", "Account")</li>
                            </ul>
                        </li>
                    }

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @{
                        var userName = Context.User.Identity.Name;
                    }
                    @if (string.IsNullOrEmpty(userName)) {
                        <li>
                            @*<a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Login</a>*@
                            <a href="#" id="loginLinkBtn">Login</a>
                    
                        </li>
                        <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    } else {
                        <li><a href="@Url.Action("Logout", "Account")">Hi, @userName <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    }

                    
                    
                </ul>
            </div>

        </div>
    </div>


    <div class="container body-content">



        @RenderBody()
        <hr />

        @if (string.IsNullOrEmpty(userName)) {
            @Html.Partial("LoginPartial", new ThatForumCMS.Models.Users.LoginViewModel())

        }

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>