﻿@model ThatForumCMS.Models.NavBarViewModel
@if (!(Model.IsModerator || Model.IsAdmin)) {
    return;
}
@* Show Manage tab in nav bar for admins and moders(not all links for thoose ones) *@
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Manage
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Posts", "ShowPosts", "Admin")</li>
            <li>@Html.ActionLink("Topics", "List", "Topic")</li>

            @if (Model.IsAdmin) {

                <li>@Html.ActionLink("Categories", "Index", "Category")</li>
                <li>@Html.ActionLink("Users", "ShowUsers", "Admin")</li>
                <li>@Html.ActionLink("Error Logs", "ErrorLogs", "Admin")</li>
            }

        </ul>

    </li>
