﻿@model int 
<div class="btn-group">
    @Html.ActionLink("Edit", "Edit", new { id = Model }, new { @class = "btn btn-primary" })
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("View", "View", new { id = Model }, new { id = "details" + Model })</li>
        <li>@Html.ActionLink("Delete", "Delete", new { id = Model })</li>
    </ul>
</div>
