﻿@model ThatForumCMS.Models.Users.ChangePasswordViewModel

<h4>Change password</h4>
<div id="changePassResult"></div>
<div class="changePassForm">
    @using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "changePassResult",
        LoadingElementId = "loader",
        OnComplete = "onChangePassComplete"
    }, new { @id= "regform" })) {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    }

    <script>
        function onChangePassComplete(response) {
            $('#CurrentPassword').val('');    
            $('#NewPassword').val('');    
            $('#ConfirmPassword').val('');    
        }
    </script>
    @Scripts.Render("~/bundles/jqueryvalidation")
    @Scripts.Render("~/bundles/validationChangePassword")
</div>