﻿@model ThatForumCMS.Models.Users.LoginViewModel



<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Login</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">


                @*//@using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "Post" })) {*@
                @using (Html.BeginForm("Login", "Account", FormMethod.Post)) {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RemebmerMe, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    <label>
                                        @Html.EditorFor(model => model.RemebmerMe)
                                    </label>
                                    @Html.ValidationMessageFor(model => model.RemebmerMe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Login" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                <p>Not a member? @Html.ActionLink("Sign Up", "Register", "Account")</p>
                @*<p>Forgot <a href="#">Password?</a></p>*@
            </div>
        </div>

    </div>
</div>
<script>
        $(document).ready(function () {
            $("#loginLinkBtn").click(function () {
                $("#loginModal").modal();
            });
        });
</script>